*
{
        box-sizing: border-box;
}

body
{
    font-family: "Ropa Sans", sans-serif;
    font-size: 14px;

}

header
{
    position: absolute;
    left: 0;
    top: 0;
}

a
{

}

.boton
{

}

#inicio
{
    background-color: black;

}

#inicio video
{
    width: 100%;
    

}

